<section  class="p-3 mb-2 bg-light text-dark">
    <h1 class="h1-refresh text-green-100 text-center bp2:text-center bp2:pl-6 pt-20">
    Explore Our Menus
    </h1>
    <div class="h5-refresh text-center text-charcoal-90 bp2:text-center bp2:pl-6 pt-2 pb-24">Meals starting at $6.99 per serving.</div>
    <div style="text-align: center;align-items: center;" class="col-12 m-auto  ">
        <input (keyup)="flagCategory(allproduct,searchTerm)" type="text" placeholder="Search all of our recipes" [(ngModel)]="searchTerm">
        <button (click)="flagCategory(allproduct,searchTerm)">Search</button>
    </div>
</section>

<div class="flex menusRedesignFilters filterScrollbar">
  <h4 *ngIf="categoryItemNotFound" style=" text-align: center; color: gray;">No Item Found</h4>
  <div #allpage class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
        <div *ngFor="let pro of filteredproducts|search:searchTerm"class="col-lg-2 col-md-3 w-lg-12 m-2 col-8  p-0  ">
           <div class="card card-hover">
            <img class="card-img-top prod-img h-sm-100" src="{{pro.image_url[0]}}" alt="">
            <div class="p-2 card-body">
                <p [ngStyle]="{'background-color':pro.newProduct?'#b81c2d':'#008600'}" class="cart-title mb-0">{{pro.title}}</p>
                <h3 class="mt-2 mb-0 para-cart w-100">{{pro.discraption}}</h3>
                <p class="mt-1 des mb-0">{{pro.publisher}} </p>
                <div class="d-flex justify-content-between align-items-center pb-0 mb-0">
                    <p class="mt-1 des1 mb-0">{{pro.category}} </p>
                    <div class="pt-3">
                        <small class="price mb-1 mt-1">${{pro.price}}</small><i class="fas fa-basket-shopping shopp ps-1 pe-0 mb-0" ></i>
                    </div>
                </div>
            </div>
            <div class="mt-0 mb-0 pt-0 mt-0">
                <ul class="d-flex list-unstyled sml">
                    <li class="px-1">45-55 MIN |</li>
                    <li *ngIf="pro.bestSeller" class="px-0"><i class="fa-solid fa-heart" style="color: red;text-align: center;padding-right: 2px;"></i> </li>
                    <li *ngIf="pro.newProduct" class="px-0"><i class="fab fa-odnoklassniki" style="color: rgb(233, 171, 57);text-align: center;"></i> |</li>
                    <li style="color:grey ;" class="px-1">milk - </li>
                    <li style="color:grey ;" class="px-1">eggs - </li>
                    <li style="color:grey ;" class="">wheat</li>    
                </ul>
            </div>
            <div class="card-footer text-center mt-0 mb-0  w-100  ">
                <small class="small-color endtext" style="cursor: pointer;font-weight:bold;font-size: 13px;" routerLink="/details/{{pro.recipe_id}}">View Customize It Options</small>
            </div>
           </div>
        </div>
    </div>
  </div>

  

 
